
.button {
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 2.5rem;
    border-radius: var(--radius-1);
    text-align: center;
    box-sizing: border-box;
}

.button-s {
    padding: 0.25rem 1rem;
}

.button-inline {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.button-outlined {
    background-color: inherit;
}

.button-primary:not(.button-outlined) {
    background-color: var(--primary-a0);
}

.button-primary.button-outlined {
    border: 1px solid var(--primary-a0);
    color: var(--primary-a0);
}

.button-success {
    background-color: var(--success-a0);
}