
.button {
    cursor: pointer;
    background-color: var(--surface-a10);
    display: inline-block;
    padding: 0.75rem 2.5rem;
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-s);
}