.label {
    --padding: 0.2rem;
    --height: 1rem;
    --radius: calc((var(--height) + 2 * var(--padding)) / 2);

    height: var(--height);
    padding: var(--padding) 0;
    border-radius: var(--radius);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 3rem;
    background-color: #477fea;
    color: white;
    font-size: 0.8rem;
}

.label-hidden {
    background-color: inherit;
}