
.topic {
    background-color: var(--surface-a10);
    border-radius: var(--radius-1);

    padding: 0.5rem 0;
    position: relative;
    touch-action: none;
}

.topic-content {
    display: flex;
    position: relative;
    z-index: 10;
}

.topic-name {
    flex-grow: 1;
}

.topic-indicator {
    display: flex;
    align-items: center;
}

.topic-group-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.topic-group-title-outer {
    font-weight: 600;
    background-color: var(--surface-a10);
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    align-self: flex-start;
}

.topic-group-box {
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--surface-a10);

    box-shadow: var(--shadow-s);
}

.topic-group-box > *:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /*padding-bottom: 0.5rem;*/
    /*margin-bottom: 0.5rem;*/
}

.topic-background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-color: dodgerblue;
    transition: background-color 0.2s ease;
    pointer-events: none;
}