
.user-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-1);
    border: 1px solid var(--surface-a10);
    box-sizing: border-box;
    padding: 1rem;
}

.user-card-active {
    border: 1px solid var(--surface-a30);
    box-shadow: var(--shadow-l);
}

.user-card-name {
    font-size: 1.5rem;
}

.user-card-self-chip {
    color: var(--color-a10);
}

.user-card-last-updated {
    color: var(--color-a10);
    font-size: 0.8rem;
}